:root {
  --primary-color: #FFD700; /* Yellow */
  --secondary-color: #00a2ff; /* Blue */
  --accent1-color: #fd7302; /* Orange */
  --accent2-color: #030303; /* Black */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Kanit", serif;
  color: var(--accent2-color);
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  align-items: center;
  background-color: #ffffff;
  color: #fdf901;
  padding: 20px;
  justify-content: space-between;
}

header img {
  grid-column: 1;
  width: 300px;
  height: 300px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 50%;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  grid-column: 2;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  margin-right: 20px;
}


header nav a {
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  border: 1px solid var(--accent2-color);
  text-align: center;
  text-decoration: none;
}

h1 {
  color: var(--accent2-color);
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-size: 36px;
  border: #030303;
}

h2 {
  color: var(--secondary-color);
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-size: 36px;
}

h3 {
  color: var(--secondary-color);
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-size: 24px;
}

p {
  font-weight: 300;
  padding: 10px;
  font-size: 1rem;
  line-height: 1.6;
}

div.hero {
  position: relative;
  background-image: url("/wwrimages/rafting.16.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

article img {
  right: auto;
  width: 40%;
  height: auto;
  margin: 10px;
}

article p {
  left: auto;
  width: 55%;
  margin: 10px;
}

#history {
  background-color: #f7f7f7;
  padding: 20px;
}

#history h2 {
  margin-top: 0;
}

#history p {
  margin-bottom: 20px;
  width: 45%;
margin: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}  

#history img {
  width: 10%;
  margin: 10px;
}

#history-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  }
  

#adventures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  #adventures figure {
  margin: 10px;
  width: calc(20% - 20px);
  }
  
  #adventures img {
  width: 100%;
  height: auto;
  }
  
  #adventures figcaption {
  font-size: 16px;
  color: #666;
  padding: 10px;
  text-align: center;
  }

  .Employee-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .profile {
    margin: 20px;
    text-align: center;
  }
  
  .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .caption-form {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .caption-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .caption-form input[type="text"],
  .caption-form input[type="email"],
  .caption-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .caption-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .caption-form input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .trip {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .trip-description {
    width: 50%;
    padding: 20px;
  }
  
  .trip-image {
    width: 50%;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
footer {
  background-color: var(--accent2-color);
  color: var(--primary-color);
  padding: 20px;
  text-align: right;
}

footer.social-media {
  display: flex;
  justify-content: flex-end;
}

footer .sociallinks a {
  margin-left: 20px;
}

footer .sociallinks img {
  width: 30px;
  height: auto;
}